
<div class="form-group">
	<label class="col-sm-2 control-label">联单编号</label>
	<div class="col-sm-7">
		<input type="text" name="tranmanifest.tmanifestid" value="${escapeXml(tranmanifest.tmanifestid!)}"
			   class="form-control" maxlength="100" vMin="2"
			   vType="length" onblur="platform_verify.onblurVali(this);">
	</div>
	<span class="help-inline col-sm-2">
		<i class="fa fa-info-circle"></i> 1-50位任意字符
	</span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">转移计划编号</label>
	<div class="col-sm-7">
		<input type="text" name="tranmanifest.transplancode" value="${escapeXml(tranmanifest.transplancode!)}"
			   class="form-control" maxlength="100" vMin="2"
			   vType="length" onblur="platform_verify.onblurVali(this);">
	</div>
	<span class="help-inline col-sm-2">
		<i class="fa fa-info-circle"></i> 1-50位任意字符
	</span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">移出单位名称</label>
	<div class="col-sm-7">
		<input type="text" name="tranmanifest.generatorname" value="${escapeXml(tranmanifest.generatorname!)}"
			   class="form-control" maxlength="100" vMin="2"
			   vType="length" onblur="platform_verify.onblurVali(this);">
	</div>
	<span class="help-inline col-sm-2">
		<i class="fa fa-info-circle"></i> 1-50位任意字符
	</span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">运输单位名称</label>
	<div class="col-sm-7">
		<input type="text" name="tranmanifest.transunitname" value="${escapeXml(tranmanifest.transunitname!)}"
			class="form-control" maxlength="10000" vMin="2" 
			vType="length" onblur="platform_verify.onblurVali(this);">
	</div>
	<span class="help-inline col-sm-2"> 
		<i class="fa fa-info-circle"></i> 1-50位任意字符 
	</span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">接收单位名称</label>
	<div class="col-sm-7">
		<input type="text" name="tranmanifest.receivername" value="${escapeXml(tranmanifest.receivername!)}"
			   class="form-control" maxlength="10000" vMin="2"
			   vType="length" onblur="platform_verify.onblurVali(this);">
	</div>
	<span class="help-inline col-sm-2">
		<i class="fa fa-info-circle"></i> 1-50位任意字符
	</span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">废物名称</label>
	<div class="col-sm-7">
		<input type="text" name="tranmanifest.wastename" value="${escapeXml(tranmanifest.wastename!)}"
			   class="form-control" maxlength="10000" vMin="2"
			   vType="length" onblur="platform_verify.onblurVali(this);">
	</div>
	<span class="help-inline col-sm-2">
		<i class="fa fa-info-circle"></i> 1-50位任意字符
	</span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">废物类别</label>
	<div class="col-sm-7">
		<input type="text" name="tranmanifest.wastetype" value="${escapeXml(tranmanifest.wastetype!)}"
			   class="form-control" maxlength="10000" vMin="2"
			   vType="length" onblur="platform_verify.onblurVali(this);">
	</div>
	<span class="help-inline col-sm-2">
		<i class="fa fa-info-circle"></i> 1-50位任意字符
	</span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">转移数量</label>
	<div class="col-sm-7">
		<input type="text" name="tranmanifest.wasteamount" value="${escapeXml(tranmanifest.wasteamount!)}"
			   class="form-control" maxlength="10000" vMin="2"
			   vType="length" onblur="platform_verify.onblurVali(this);">
	</div>
	<span class="help-inline col-sm-2">
		<i class="fa fa-info-circle"></i> 1-50位任意字符
	</span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">转移联单发运日期</label>
	<div class="col-sm-7">
		<input type="text" name="tranmanifest.initiatedate" value="${escapeXml(tranmanifest.initiatedate!)}"
			   class="form-control" maxlength="10000" vMin="2"
			   vType="length" onblur="platform_verify.onblurVali(this);">
	</div>
	<span class="help-inline col-sm-2">
		<i class="fa fa-info-circle"></i> 1-50位任意字符
	</span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">业务状况</label>
	<div class="col-sm-7">
		<input type="text" name="tranmanifest.businessstate" value="${escapeXml(tranmanifest.businessstate!)}"
			   class="form-control" maxlength="10000" vMin="2"
			   vType="length" onblur="platform_verify.onblurVali(this);">
	</div>
	<span class="help-inline col-sm-2">
		<i class="fa fa-info-circle"></i> 1-50位任意字符
	</span>
</div>

