<!-- start: BREADCRUMB -->
<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#">导航</a></li>
			<li class="active">默认主页</li>
		</ol>
	</div>
</div>
<!-- end: BREADCRUMB -->


<div class="row" id="lucene">
	<script type="text/javascript">
		common_ajax.ajaxDiv("lucene", "/jf/platform/test/lucene?pageSize=10&_query.searchKeyWords=刘德华"); // 处理在一个页显示多个分页，分页输出{"divId" : "aaaaa", "formId" : "splitPage1"}
	</script>
</div>
					
<script type="text/javascript" src="${cxt!}/jsFile/rapido/platform/index/context.js"></script>

<script type="text/javascript">
	jQuery(document).ready(function() {
		Context.init();
	});
</script>
