			<div id="pageslide-right" class="pageslide slide-fixed inner">
				<div class="right-wrapper">
					<div class="hidden-xs" id="style_selector">
						<div id="style_selector_container">
							<div class="pageslide-title">
								样式选择
							</div>
							<div class="box-title">
								布局风格
							</div>
							<div class="input-box">
								<div class="input">
									<select name="layout" class="form-control">
										<option value="default">宽屏</option><option value="boxed">窄屏</option>
									</select>
								</div>
							</div>
							<div class="box-title">
								标题样式
							</div>
							<div class="input-box">
								<div class="input">
									<select name="header" class="form-control">
										<option value="fixed">固定</option><option value="default">默认</option>
									</select>
								</div>
							</div>
							<div class="box-title">
								边栏样式
							</div>
							<div class="input-box">
								<div class="input">
									<select name="sidebar" class="form-control">
										<option value="fixed">固定</option><option value="default">默认</option>
									</select>
								</div>
							</div>
							<div class="box-title">
								底部样式
							</div>
							<div class="input-box">
								<div class="input">
									<select name="footer" class="form-control">
										<option value="default">默认</option><option value="fixed">固定</option>
									</select>
								</div>
							</div>
							<div class="box-title">
								10套预定义的配色方案
							</div>
							<div class="images icons-color">
								<a href="#" id="default"><img src="${cxt!}/ui/rapido/assets/images/color-1.png" alt="" class="active"></a>
								<a href="#" id="style2"><img src="${cxt!}/ui/rapido/assets/images/color-2.png" alt=""></a>
								<a href="#" id="style3"><img src="${cxt!}/ui/rapido/assets/images/color-3.png" alt=""></a>
								<a href="#" id="style4"><img src="${cxt!}/ui/rapido/assets/images/color-4.png" alt=""></a>
								<a href="#" id="style5"><img src="${cxt!}/ui/rapido/assets/images/color-5.png" alt=""></a>
								<a href="#" id="style6"><img src="${cxt!}/ui/rapido/assets/images/color-6.png" alt=""></a>
								<a href="#" id="style7"><img src="${cxt!}/ui/rapido/assets/images/color-7.png" alt=""></a>
								<a href="#" id="style8"><img src="${cxt!}/ui/rapido/assets/images/color-8.png" alt=""></a>
								<a href="#" id="style9"><img src="${cxt!}/ui/rapido/assets/images/color-9.png" alt=""></a>
								<a href="#" id="style10"><img src="${cxt!}/ui/rapido/assets/images/color-10.png" alt=""></a>
							</div>
							<div class="box-title">
								Backgrounds for Boxed Version
							</div>
							<div class="images boxed-patterns">
								<a href="#" id="bg_style_1"><img src="${cxt!}/ui/rapido/assets/images/bg.png" alt=""></a>
								<a href="#" id="bg_style_2"><img src="${cxt!}/ui/rapido/assets/images/bg_2.png" alt=""></a>
								<a href="#" id="bg_style_3"><img src="${cxt!}/ui/rapido/assets/images/bg_3.png" alt=""></a>
								<a href="#" id="bg_style_4"><img src="${cxt!}/ui/rapido/assets/images/bg_4.png" alt=""></a>
								<a href="#" id="bg_style_5"><img src="${cxt!}/ui/rapido/assets/images/bg_5.png" alt=""></a>
							</div>
							<div class="style-options">
								<a href="#" class="clear_style">
									清除样式
								</a>
								<a href="#" class="save_style">
									保存样式
								</a>
							</div>
						</div>
						<div class="style-toggle open"></div>
					</div>
				</div>
			</div>