
<div class="form-group">
	<label class="col-sm-2 control-label">单位地址</label>
	<div class="col-sm-7">
		<input type="text" name="rregisterinfo.furnishaddress" value="${escapeXml(rregisterinfo.furnishaddress!)}"
			class="form-control" maxlength="100" vMin="0"
			vType="length" onblur="platform_verify.onblurVali(this);">
	</div>
	<span class="help-inline col-sm-2"> 
		<i class="fa fa-info-circle"></i> 1-50位任意字符 
	</span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">年份</label>
	<div class="col-sm-7">
		<input type="text" name="rregisterinfo.regyear" value="${escapeXml(rregisterinfo.regyear!)}"
			class="form-control" maxlength="10000" vMin="0"
			vType="length" onblur="platform_verify.onblurVali(this);">
	</div>
	<span class="help-inline col-sm-2">
		<i class="fa fa-info-circle"></i> 1-50位任意字符
	</span>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label">产生数量</label>
	<div class="col-sm-7">
		<input type="text" name="rregisterinfo.procount" value="${escapeXml(rregisterinfo.procount!)}"
			   class="form-control" maxlength="10000" vMin="0"
			   vType="length" onblur="platform_verify.onblurVali(this);">
	</div>
	<span class="help-inline col-sm-2">
		<i class="fa fa-info-circle"></i> 1-50位任意字符
	</span>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label">废物类型</label>
	<div class="col-sm-7">
		<input type="text" name="rregisterinfo.wastetypec" value="${escapeXml(rregisterinfo.wastetypec!)}"
			   class="form-control" maxlength="10000" vMin="0"
			   vType="length" onblur="platform_verify.onblurVali(this);">
	</div>
	<span class="help-inline col-sm-2">
		<i class="fa fa-info-circle"></i> 1-50位任意字符
	</span>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label">联系人</label>
	<div class="col-sm-7">
		<input type="text" name="rregisterinfo.linkman" value="${escapeXml(rregisterinfo.linkman!)}"
			   class="form-control" maxlength="10000" vMin="0"
			   vType="length" onblur="platform_verify.onblurVali(this);">
	</div>
	<span class="help-inline col-sm-2">
		<i class="fa fa-info-circle"></i> 1-50位任意字符
	</span>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label">手机</label>
	<div class="col-sm-7">
		<input type="text" name="rregisterinfo.mobile" value="${escapeXml(rregisterinfo.mobile!)}"
			   class="form-control" maxlength="10000" vMin="0"
			   vType="length" onblur="platform_verify.onblurVali(this);">
	</div>
	<span class="help-inline col-sm-2">
		<i class="fa fa-info-circle"></i> 1-50位任意字符
	</span>
</div>

