<div class="form-group">
    <label class="col-sm-2 control-label">废物名称</label>
    <div class="col-sm-7">
        <input type="text" name="transplan.wastename" value="${escapeXml(transplan.wastename!)}"
               class="form-control" maxlength="100" vMin="2"
               vType="length" onblur="platform_verify.onblurVali(this);">
    </div>
	<span class="help-inline col-sm-2"> 
		<i class="fa fa-info-circle"></i> 1-50位任意字符 
	</span>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">废物类别</label>
    <div class="col-sm-7">
        <input type="text" name="transplan.wastetype" value="${escapeXml(transplan.wastetype!)}"
               class="form-control" maxlength="10000" vMin="2"
               vType="length" onblur="platform_verify.onblurVali(this);">
    </div>
	<span class="help-inline col-sm-2"> 
		<i class="fa fa-info-circle"></i> 1-50位任意字符 
	</span>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">废物代码</label>
    <div class="col-sm-7">
        <input type="text" name="transplan.wastecode" value="${escapeXml(transplan.wastecode!)}"
               class="form-control" maxlength="10000" vMin="2"
               vType="length" onblur="platform_verify.onblurVali(this);">
    </div>
	<span class="help-inline col-sm-2">
		<i class="fa fa-info-circle"></i> 1-50位任意字符
	</span>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">转移数量</label>
    <div class="col-sm-7">
        <input type="text" name="transplan.wasteamount" value="${escapeXml(transplan.wasteamount!)}"
               class="form-control" maxlength="10000" vMin="2"
               vType="length" onblur="platform_verify.onblurVali(this);">
    </div>
	<span class="help-inline col-sm-2">
		<i class="fa fa-info-circle"></i> 1-50位任意字符
	</span>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">单位</label>
    <div class="col-sm-7">
        <input type="text" name="transplan.wasteunit" value="${escapeXml(transplan.wasteunit!)}"
               class="form-control" maxlength="10000" vMin="2"
               vType="length" onblur="platform_verify.onblurVali(this);">
    </div>
	<span class="help-inline col-sm-2">
		<i class="fa fa-info-circle"></i> 1-50位任意字符
	</span>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">转移批次</label>
    <div class="col-sm-7">
        <input type="text" name="transplan.transbatch" value="${escapeXml(transplan.transbatch!)}"
               class="form-control" maxlength="10000" vMin="2"
               vType="length" onblur="platform_verify.onblurVali(this);">
    </div>
	<span class="help-inline col-sm-2">
		<i class="fa fa-info-circle"></i> 1-50位任意字符
	</span>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">转移开始时间</label>
    <div class="col-sm-7">
        <input type="text" name="transplan.transstarttime" value="${escapeXml(transplan.transstarttime!)}"
               class="form-control" maxlength="10000" vMin="2"
               vType="length" onblur="platform_verify.onblurVali(this);">
    </div>
	<span class="help-inline col-sm-2">
		<i class="fa fa-info-circle"></i> 1-50位任意字符
	</span>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">转移结束时间</label>
    <div class="col-sm-7">
        <input type="text" name="transplan.transendtime" value="${escapeXml(transplan.transendtime!)}"
               class="form-control" maxlength="10000" vMin="2"
               vType="length" onblur="platform_verify.onblurVali(this);">
    </div>
	<span class="help-inline col-sm-2">
		<i class="fa fa-info-circle"></i> 1-50位任意字符
	</span>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">危险废物处置方式</label>
    <div class="col-sm-7">
        <input type="text" name="transplan.wastetreatment" value="${escapeXml(transplan.wastetreatment!)}"
               class="form-control" maxlength="10000" vMin="2"
               vType="length" onblur="platform_verify.onblurVali(this);">
    </div>
	<span class="help-inline col-sm-2">
		<i class="fa fa-info-circle"></i> 1-50位任意字符
	</span>
</div>