<script type="text/javascript">
    function test(){
        var msg=document.getElementById("choiceid").value;
        tespush.sendMessageAuto(msg,"哈哈哈");
        alert(msg);
    }
</script>

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="#" onclick="common_ajax.ajaxMainPanel('/jf/transinfo/index/content');">${i18nMap["admin.common.mainPage"]}</a></li>
            <li class="active">网上预约</li>
        </ol>
    </div>
</div>

<form id="splitPage" class="form-horizontal" action="${cxt!}/jf/transinfo/transwaste/chenter" method="POST">

    <div class="row">
        <div class="col-md-12">
            <!-- start: BORDERED TABLE PANEL -->
            <div class="panel panel-white">

                <div class="panel-heading">
                    <h4 class="panel-title"><span class="text-bold">处置企业查询</span></h4>
                    <div class="panel-tools">
                        <% include("/common/panel-tools.html"){} %>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="form-group">

                        <label class="col-sm-2 control-label" for="focusedInput">企业名称</label>
                        <div class="col-sm-4">
                            <input class="form-control focused" type="text"
                                   name="_query.name" value='${escapeXml(paramMap["_query.name"])}'
                                   maxlength="50" >
                        </div>

                        <label class="col-sm-2 control-label" for="focusedInput">行政区</label>
                        <div class="col-sm-4">
                            <input class="form-control focused" type="text"
                                   name="_query.county" value='${escapeXml(paramMap["_query.conuty"])}'
                                   maxlength="50" >
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="col-sm-5 col-sm-offset-5">
                            <button type="button" class="btn btn-primary" onclick='common_ajax.ajaxFormMainPanel("splitPage");'>${i18nMap["admin.common.select"]}</button>
                            <button type="reset" class="btn">${i18nMap["admin.common.reset"]}</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- start: BORDERED TABLE PANEL -->
            <div class="panel panel-white">

                <div class="panel-heading">
                    <h4 class="panel-title">
                        <span class="text-bold">企业列表</span>
                    </h4>
                    <div class="panel-tools">
                        <% include("/common/panel-tools.html"){} %>
                    </div>
                </div>

                <%
                var edit = authUrl("/jf/Enterprise/enterinfoProcess/edit");

                var view = authUrl("/jf/Enterprise/enterinfoProcess/view");
                var getids = authUrl("/jf/transinfo/transwaste/getids");
                %>

                <div class="panel-body">


                    <table class="table table-bordered table-hover" id="dataTable">
                        <thead>
                        <tr>

                            <th class="center hidden-xs" width="50">
                                <input type="checkbox" name="checkAll" class="flat-grey selectall"
                                       onchange="common_common.checkFunc('dataTable', this.checked);">
                            </th>
                            <th class="hidden-xs">
                                单位名称	${orderBy("name")}
                            </th>
                            <th class="hidden-xs" >
                                单位机构代码	${orderBy("unitorgcode")}
                            </th>

                            <th class="hidden-xs" >
                                行政区域	${orderBy("county")}
                            </th>
                            <th class="hidden-xs">
                                单位地址	${orderBy("address")}
                            </th>
                            <th class="hidden-xs" >
                                法人代表	${orderBy("legalperson")}
                            </th>
                            <th class="hidden-xs" >
                                联系人	${orderBy("linkman")}
                            </th>
                            <th class="hidden-xs">
                                ${i18nMap["admin.common.operation"]}
                            </th>

                        </tr>
                        </thead>
                        <tbody>

                        <% for(enterinfoProcess in splitPage.list){ %>
                        <tr>
                            <td class="center hidden-xs">
                                <input type="checkbox" name="checkIds"
                                       value="${enterinfoProcess.ids!}" class="flat-grey foocheck">
                            </td>
                            <td>

                                ${escapeXml(enterinfoProcess["name"]!)}

                            </td>
                            <td>

                                ${escapeXml(enterinfoProcess["unitorgcode"]!)}

                            </td>
                            <td>

                                ${escapeXml(enterinfoProcess["county"]!)}

                            </td>
                            <td>

                                ${escapeXml(enterinfoProcess["address"]!)}

                            </td>
                            <td>

                                ${escapeXml(enterinfoProcess["legalperson"]!)}

                            </td>
                            <td>

                                ${escapeXml(enterinfoProcess["linkman"]!)}

                            </td>

                            <td class="hidden-xs">
                                <% if(view == true){ %>
                                <button type="button"  data-toggle="modal"   class="ajaxDialog btn btn-purple add-row"
                                        data-url="/jf/Enterprise/enterinfoProcess/view/${enterinfoProcess.ids!}"
                                        data-param='{ "ids" : "${enterinfoProcess.ids!}"}'>
                                    查看 <i class="fa fa-leaf"></i>
                                </button>
                                <% } %>




                                <% if(getids == true){ %>
                                <a type="button"  class="btn btn-red delete-row" id="choiceid"
                                         value="${enterinfoProcess.ids!}" onclick="test()"> 选择
                                </a>

                                <% } %>
                            </td>
                        </tr>
                        <% } %>

                        </tbody>
                    </table>

                    <div class="row" id="splitPageDiv">
                        <% include("/common/splitPage.html", {"divId" : "mainPanel", "formId" : "splitPage", "splitPageDiv" : "splitPageDiv"}){} %>
                    </div>
                    <div class="row col-sm-2 col-sm-offset-9">
                        <div class="panel panel-white">
                            <div class="panel-body">
                                <button type="button" class="btn btn-red"
                                        onclick="common_ajax.ajaxMainPanel(	'/jf/transinfo/transwaste/finish');">
                                    完成
                                    <i class="fa fa-arrow-circle-right"></i>
                                </button>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <!-- end: BORDERED TABLE PANEL -->
        </div>
    </div>

</form>



<script type="text/javascript">
    jQuery(document).ready(function() {
        common_form.init();

    });
</script>