<div class="form-group">
	<label class="col-sm-2 control-label">车辆类型</label>
	<div class="col-sm-7">
		<input type="text" name="carinformationsearch.cartype" value="${escapeXml(carinformationsearch.cartype!)}"
			   class="form-control" maxlength="100" vMin="2"
			   vType="length" onblur="platform_verify.onblurVali(this);">
	</div>
	<span class="help-inline col-sm-2">
		<i class="fa fa-info-circle"></i> 1-50位任意字符
	</span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">车牌号码</label>
	<div class="col-sm-7">
		<input type="text" name="carinformationsearch.carnumber" value="${escapeXml(carinformationsearch.carnumber!)}"
			class="form-control" maxlength="100" vMin="2" 
			vType="length" onblur="platform_verify.onblurVali(this);">
	</div>
	<span class="help-inline col-sm-2"> 
		<i class="fa fa-info-circle"></i> 1-50位任意字符 
	</span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">车辆所属企业</label>
	<div class="col-sm-7">
		<input type="text" name="carinformationsearch.ownedenterprise" value="${escapeXml(carinformationsearch.ownedenterprise!)}"
			class="form-control" maxlength="10000" vMin="2" 
			vType="length" onblur="platform_verify.onblurVali(this);">
	</div>
	<span class="help-inline col-sm-2"> 
		<i class="fa fa-info-circle"></i> 1-50位任意字符 
	</span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">驾驶员</label>
	<div class="col-sm-7">
		<input type="text" name="carinformationsearch.driver" value="${escapeXml(carinformationsearch.driver!)}"
			   class="form-control" maxlength="100" vMin="2"
			   vType="length" onblur="platform_verify.onblurVali(this);">
	</div>
	<span class="help-inline col-sm-2">
		<i class="fa fa-info-circle"></i> 1-50位任意字符
	</span>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label">联系电话</label>
	<div class="col-sm-7">
		<input type="text" name="carinformationsearch.conphone" value="${escapeXml(carinformationsearch.conphone!)}"
			   class="form-control" maxlength="100" vMin="2"
			   vType="length" onblur="platform_verify.onblurVali(this);">
	</div>
	<span class="help-inline col-sm-2">
		<i class="fa fa-info-circle"></i> 1-50位任意字符
	</span>
</div>
